{% extends 'base.html' %}

{% block main_content %}
    <!-- Основной контент -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- Хлебные крошки -->
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="/computers">Компьютеры</a></li>
                    <li class="breadcrumb-item active" aria-current="/pages/computers/1">PC-DEV-001</li>
                </ol>
            </nav>

            <!-- Информация о компьютере -->
            {% include 'computers/computer/info.html' %}

            <!-- Вкладки для таблиц и таблицы -->
            {% include 'computers/computer/tables.html' %}

            <!-- Комментарии -->
            {% include 'comments.html' %}
        </div>
    </div>
{% endblock %}
