{% extends 'base.html' %}

{% block main_content %}
<!-- Основной контент -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- Дашборд -->
                    {% include 'main/dashboard.html' %}
                    <!-- Таблица с последними событиями нарушений -->
                    {% include 'main/last_events.html' %}
                </div>

                <!-- Правая колонка -->
                <div class="col-md-4">
                    <!-- Список последних ПК -->
                    {% include 'main/last_pcs.html' %}
                    <!-- Новые USB-устройства -->
                    {% include 'main/new_usbs.html' %}
                    <!-- Последние 10 задач -->
                    {% include 'main/last_tasks.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
