<div class="filter-section">
    <h5 class="mb-3">сортировка:</h5>
    <div class="mb-2">
        <a href="#" class="text-decoration-none d-block">по дате</a>
    </div>
    <div class="mb-2">
        <a href="#" class="text-decoration-none d-block">по имени пк</a>
    </div>

    <h5 class="mb-3 mt-4">фильтр:</h5>
    <div class="mb-2">
        <a href="#" class="text-decoration-none d-block">пк</a>
    </div>
    <div class="mb-2">
        <a href="#" class="text-decoration-none d-block">usb</a>
    </div>
    <div class="mb-2">
        <a href="#" class="text-decoration-none d-block">дата</a>
    </div>
</div>